body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(39, 39, 39);
}

* {
    font-weight: 100;
}


.nav {
    position: fixed;
    top: 0; left: 0; 
    height: 100vh; width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    color: white;
}


.elem {
    display: inline;
    height: 10px; width: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px 10px;
    transition: 0.4s ease-out;
    cursor: pointer;
}

.nav .selected {
    background-color: white;
    transition: 0.2s ease-in;
}

.page {
    height: 100vh; width: calc(100vw - 32px);
    position: fixed;
    top: 0; left: 32px;
    overflow-y: scroll;
}

.faded-block {
    -webkit-backdrop-filter: brightness(0.6);
    backdrop-filter: brightness(0.7);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: center;
    overflow-y: scroll;
}

.navButton {
    margin: 30px;
}

.navButton:hover {
    cursor: pointer;
}

.navButton:active {
    color: lightgray;
}

.mobile-nav-button {
    position: fixed;
    top: 0; right: 0;
    z-index: 3000;
    color: white;
    display: none;
}

.mobile-nav-button:hover {
    cursor: pointer;
}

.mobile-nav {
    width: 100vw; height: 100vh;
    position: fixed;
    left: 0; top: 0;
    background-color: rgb(23, 23, 23);
    color: white;
    z-index: 4000;
    display: none;
}
.mobile-nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.mobile-nav li {
    list-style: none;
    text-align: center;
    margin: 30px 0;
}

.mobile-nav li:hover {
    cursor: pointer;
}


#page-1 {
    background:  25% 75% url(/img/Mini_Tuning_Coast_Sea_367473.jpg);
    background-size: cover;
}

#page-1 h1 {
    font-size: 4rem;
}

#page-1 .faded-block {
    justify-content: center;
}

#page-1 .navButton {
    margin-top: 60px;
}



#page-2 {
    display: none;
    background:  45% 35% url(/img/first-person.jpeg);
    font-size: large;
}

#page-2 h2 {
    color: burlywood
}

#page-2 h3 {
    color: rgb(255, 255, 255);
}

#page-2 span {
    color: rgb(112, 186, 255);
}

#page-2 span:hover {
    text-decoration: underline;
    cursor: pointer;
}


#page-3 {
    display: none;
    background:  25% 75% url(/img/polo.jpg);
    background-size: cover;
}

#page-3 span {
    color: rgb(143, 255, 121);
}



#page-4 {
    display: none;
}

#page-4 p {
    color: burlywood;
}

#date-select {
    width: 60px;
}

#email-select {
    width: 120px;
}


@media all and (max-width: 800px) {
    p, h1, h2 ,h3  {
        width: 90vw;
    }

    #page-1 h1 {
        font-size: 3rem;
    }

    .nav {
        display: none;
    }

    .page {
        width: 100vw;
        left: 0;
    }

    .mobile-nav-button {
        display: block;
    }
}


@media all and (min-width: 801px) and (max-width: 1200px) {
    p, h1, h2 ,h3  {
        width: 70vw;
    }
}

@media all and (min-width: 1201px) and (max-width: 1600px) {
    p, h1, h2 ,h3  {
        width: 70vw;
    }
}


@media all and (min-width: 1601px) {
    p, h1, h2 ,h3  {
        width: 40vw;
    }
}